@import url(https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@400;

600;700&family=Open+Sans:ital,wght@0,400;0,600;1,400&display=swap);
@charset "UTF-8";
@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.mainpage-box-text__sub-header::before,
.main-slider__scroll::before,
[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-facebook:before {
  content: "\e900";
}

._icon-instagram:before {
  content: "\e901";
}

._icon-line:before,
.main-slider__scroll:before {
  content: "\e902";
}

._icon-quots:before {
  content: "\e903";
}

._icon-select-arrow:before {
  content: "\e904";
}

._icon-spoon:before,
.mainpage-box-text__sub-header:before {
  content: "\e905";
}

._icon-twitter:before {
  content: "\e906";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 280px;
}

body {
  color: #AAAAAA;
  line-height: 1;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Open Sans", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #0C0B08;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 83.125rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=__container_wide] {
  max-width: 105rem;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  line-height: 175%;
  background-color: #DCCA87;
  color: #0C0B08;
  padding: 0.5rem 2rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button._fw {
  width: 100%;
}

[data-fullscreen] {
  min-height: 100vh;
}

.touch [data-fullscreen] {
  min-height: calc(var(--vh, 1vh) * 100);
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.mainpage-box-text__button,
.mainpage-box-text__header,
.mainpage-box-text__sub-header,
.main-slider__scroll,
.header__logo,
.button {
  font-family: "Cormorant Upright", serif;
}

.icon-menu {
  display: none;
}

.header {
  color: #FFFFFF;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
  background-color: #0C0B08;
}

.header__container_wide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  position: relative;
  z-index: 2;
}

.header__logo:hover {
  color: #DCCA87;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 5px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__item {
  white-space: nowrap;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.menu__item:hover {
  color: #DCCA87;
}

.menu__link {
  line-height: 175%;
  letter-spacing: 0.04em;
}

.auth-header {
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  row-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
}

.auth-header__item {
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.auth-header__item:hover {
  color: #DCCA87;
}

.main-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-slider__container_wide {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.main-slider__menu {
  letter-spacing: 0.04em;
}

.main-slider__scroll {
  font-weight: 700;
  font-size: 16px;
  line-height: 175%;
  color: #DCCA87;
  position: absolute;
  bottom: 0;
  right: 0.9375rem;
}

.main-slider__scroll::before {
  content: "";
  display: block;
  background-image: url(../img/mainpage-swiper/Vector8\(Stroke\).svg);
  top: -24px;
  left: 20px;
  width: 1px;
  height: 61px;
  position: relative;
}

.body-main-slider {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.body-main-slider__slider {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-main-slider__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
}

.body-main-slider__slide {
  max-width: 28.3125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body-main-slider__boolets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper {
  padding: 0 30px 30px 30px;
}

.mainpage-box-text {
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  line-height: 130%;
  gap: 32px;
}

.mainpage-box-text__sub-header {
  -webkit-font-feature-settings: "tnum" on, "lnum" on;
          font-feature-settings: "tnum" on, "lnum" on;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  gap: 8px;
}

.mainpage-box-text__sub-header::before {
  color: #DCCA87;
  font-size: 0.3913043478em;
}

.mainpage-box-text__header {
  font-weight: 700;
  line-height: 130%;
  color: #DCCA87;
}

.mainpage-box-text__text {
  line-height: 175%;
}

.mainpage-box-text__button {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.mainpage-box-text__image {
  position: relative;
}

.mainpage-box-text__image::before,
.mainpage-box-text__image::after {
  content: "";
  position: absolute;
  background-color: #DCCA87;
  width: 435px;
  height: 435px;
}

.mainpage-box-text__image::before {
  top: 0;
  right: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: translate(25px, -25px);
      -ms-transform: translate(25px, -25px);
          transform: translate(25px, -25px);
}

.mainpage-box-text__image::after {
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: translate(-25px, 25px);
      -ms-transform: translate(-25px, 25px);
          transform: translate(-25px, 25px);
}

.mainpage-box-text__image img {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  z-index: 2;
}

.menu-main-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 50%;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  gap: 40px;
}

.menu-main-slider__link {
  font-size: 18px;
  line-height: 175%;
  color: #FFFFFF;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu-main-slider__link:hover {
  color: #DCCA87;
}

.scroll {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.scroll:hover {
  color: #FFFFFF;
}

@media (min-width: 83.125em) {
  .header__logo {
    font-size: 2.75rem;
  }

  .menu__list {
    -webkit-column-gap: 2rem;
       -moz-column-gap: 2rem;
            column-gap: 2rem;
  }

  .auth-header {
    -webkit-column-gap: 3.125rem;
       -moz-column-gap: 3.125rem;
            column-gap: 3.125rem;
  }
}

@media (min-width: 1150.98px) {
  .menu__list {
    margin-left: 130px;
  }
}

@media (min-width: 1150.98px) and (min-width: 85em) {
  .menu__list {
    margin-left: 8.125rem;
  }
}

@media (min-width: 85em) {
  .header__container_wide {
    min-height: 7.5625rem;
  }

  .main-slider {
    padding-bottom: 5rem;
  }

  .body-main-slider__wrapper {
    margin-top: 12.0625rem;
  }

  .body-main-slider__wrapper {
    padding-bottom: 11.8125rem;
  }

  .body-main-slider__boolets {
    padding-top: 4rem;
  }

  .mainpage-box-text__sub-header {
    font-size: 1.4375rem;
  }

  .mainpage-box-text__header {
    font-size: 5.625rem;
  }

  .mainpage-box-text__text {
    font-size: 1rem;
  }
}

@media (max-width: 48em) {
  .header__logo {
    font-size: 2.1875rem;
  }
}

@media (max-width: 319px) {
  .auth-header {
    font-size: 1.5625rem;
  }
}

@media (max-width: 71.875em) {
  .auth-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .auth-header__item_img {
    display: none;
  }
}

@media (max-width: 47.99875em) {
  .touch [data-fullscreen] {
    -webkit-transition: height 0.2s;
    -o-transition: height 0.2s;
    transition: height 0.2s;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 2.5rem;
    height: 1.375rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: white;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .header__container_wide {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .menu {
    overflow: auto;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }

  .menu::before {
    content: "";
    top: 0;
    position: fixed;
    width: 100%;
    left: -100%;
    background-color: #0C0B08;
  }

  .menu-open .menu {
    left: 0;
  }

  .menu-open .menu::before {
    content: "";
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu__list:not(:last-child) {
    margin-bottom: 3.125rem;
  }

  .menu__link {
    font-size: 1.875rem;
  }

  .auth-header {
    row-gap: 15px;
    margin-left: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 47.99875em) and (max-width: 17.5em) {
  .menu {
    padding-top: 4.375rem;
  }

  .menu::before {
    min-height: 3.125rem;
  }
}

@media (max-width: 29.99875em) {
  .header__container_wide {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .auth-header {
    font-size: 1.875rem;
  }
}

@media (max-width: 17.5em) {
  .header__container_wide {
    min-height: 3.125rem;
  }

  .main-slider {
    padding-bottom: 1.875rem;
  }

  .body-main-slider__wrapper {
    margin-top: 3.75rem;
  }

  .body-main-slider__wrapper {
    padding-bottom: 5rem;
  }

  .body-main-slider__boolets {
    padding-top: 1.875rem;
  }

  .mainpage-box-text__sub-header {
    font-size: 1rem;
  }

  .mainpage-box-text__header {
    font-size: 2.5rem;
  }

  .mainpage-box-text__text {
    font-size: 0.875rem;
  }
}

@media (min-width: 17.5em) and (max-width: 85em) {
@supports (min-height: clamp( 3.125rem , 1.974537037rem  +  6.5740740741vw , 7.5625rem )) {
    .header__container_wide {
      min-height: clamp( 3.125rem , 1.974537037rem  +  6.5740740741vw , 7.5625rem );
    }
}

@supports not (min-height: clamp( 3.125rem , 1.974537037rem  +  6.5740740741vw , 7.5625rem )) {
    .header__container_wide {
      min-height: calc(3.125rem + 4.4375 * (100vw - 17.5rem) / 67.5);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.0648148148rem  +  4.6296296296vw , 5rem )) {
    .main-slider {
      padding-bottom: clamp( 1.875rem , 1.0648148148rem  +  4.6296296296vw , 5rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.0648148148rem  +  4.6296296296vw , 5rem )) {
    .main-slider {
      padding-bottom: calc(1.875rem + 3.125 * (100vw - 17.5rem) / 67.5);
    }
}

@supports (margin-top: clamp( 3.75rem , 1.5949074074rem  +  12.3148148148vw , 12.0625rem )) {
    .body-main-slider__wrapper {
      margin-top: clamp( 3.75rem , 1.5949074074rem  +  12.3148148148vw , 12.0625rem );
    }
}

@supports not (margin-top: clamp( 3.75rem , 1.5949074074rem  +  12.3148148148vw , 12.0625rem )) {
    .body-main-slider__wrapper {
      margin-top: calc(3.75rem + 8.3125 * (100vw - 17.5rem) / 67.5);
    }
}

@supports (padding-bottom: clamp( 5rem , 3.2337962963rem  +  10.0925925926vw , 11.8125rem )) {
    .body-main-slider__wrapper {
      padding-bottom: clamp( 5rem , 3.2337962963rem  +  10.0925925926vw , 11.8125rem );
    }
}

@supports not (padding-bottom: clamp( 5rem , 3.2337962963rem  +  10.0925925926vw , 11.8125rem )) {
    .body-main-slider__wrapper {
      padding-bottom: calc(5rem + 6.8125 * (100vw - 17.5rem) / 67.5);
    }
}

@supports (padding-top: clamp( 1.875rem , 1.3240740741rem  +  3.1481481481vw , 4rem )) {
    .body-main-slider__boolets {
      padding-top: clamp( 1.875rem , 1.3240740741rem  +  3.1481481481vw , 4rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.3240740741rem  +  3.1481481481vw , 4rem )) {
    .body-main-slider__boolets {
      padding-top: calc(1.875rem + 2.125 * (100vw - 17.5rem) / 67.5);
    }
}

@supports (font-size: clamp( 1rem , 0.8865740741rem  +  0.6481481481vw , 1.4375rem )) {
    .mainpage-box-text__sub-header {
      font-size: clamp( 1rem , 0.8865740741rem  +  0.6481481481vw , 1.4375rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.8865740741rem  +  0.6481481481vw , 1.4375rem )) {
    .mainpage-box-text__sub-header {
      font-size: calc(1rem + 0.4375 * (100vw - 17.5rem) / 67.5);
    }
}

@supports (font-size: clamp( 2.5rem , 1.6898148148rem  +  4.6296296296vw , 5.625rem )) {
    .mainpage-box-text__header {
      font-size: clamp( 2.5rem , 1.6898148148rem  +  4.6296296296vw , 5.625rem );
    }
}

@supports not (font-size: clamp( 2.5rem , 1.6898148148rem  +  4.6296296296vw , 5.625rem )) {
    .mainpage-box-text__header {
      font-size: calc(2.5rem + 3.125 * (100vw - 17.5rem) / 67.5);
    }
}

@supports (font-size: clamp( 0.875rem , 0.8425925926rem  +  0.1851851852vw , 1rem )) {
    .mainpage-box-text__text {
      font-size: clamp( 0.875rem , 0.8425925926rem  +  0.1851851852vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.8425925926rem  +  0.1851851852vw , 1rem )) {
    .mainpage-box-text__text {
      font-size: calc(0.875rem + 0.125 * (100vw - 17.5rem) / 67.5);
    }
}
}

@media (min-width: 48em) and (max-width: 83.125em) {
@supports (font-size: clamp( 2.1875rem , 1.418816726rem  +  1.6014234875vw , 2.75rem )) {
    .header__logo {
      font-size: clamp( 2.1875rem , 1.418816726rem  +  1.6014234875vw , 2.75rem );
    }
}

@supports not (font-size: clamp( 2.1875rem , 1.418816726rem  +  1.6014234875vw , 2.75rem )) {
    .header__logo {
      font-size: calc(2.1875rem + 0.5625 * (100vw - 48rem) / 35.125);
    }
}

@supports ((-moz-column-gap: clamp( 0.9375rem , -0.5144572954rem  +  3.024911032vw , 2rem )) or (column-gap: clamp( 0.9375rem , -0.5144572954rem  +  3.024911032vw , 2rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 0.9375rem , -0.5144572954rem  +  3.024911032vw , 2rem );
         -moz-column-gap: clamp( 0.9375rem , -0.5144572954rem  +  3.024911032vw , 2rem );
              column-gap: clamp( 0.9375rem , -0.5144572954rem  +  3.024911032vw , 2rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , -0.5144572954rem  +  3.024911032vw , 2rem )) or (column-gap: clamp( 0.9375rem , -0.5144572954rem  +  3.024911032vw , 2rem ))) {
    .menu__list {
      -webkit-column-gap: calc(0.9375rem + 1.0625 * (100vw - 48rem) / 35.125);
         -moz-column-gap: calc(0.9375rem + 1.0625 * (100vw - 48rem) / 35.125);
              column-gap: calc(0.9375rem + 1.0625 * (100vw - 48rem) / 35.125);
    }
}
}

@media (max-width: 47.99875em) and (min-width: 85em) {
  .menu {
    padding-top: 10.625rem;
  }

  .menu::before {
    min-height: 8.125rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 17.5em) and (max-width: 85em) {
@supports (padding-top: clamp( 4.375rem , 2.7546296296rem  +  9.2592592593vw , 10.625rem )) {
    .menu {
      padding-top: clamp( 4.375rem , 2.7546296296rem  +  9.2592592593vw , 10.625rem );
    }
}

@supports not (padding-top: clamp( 4.375rem , 2.7546296296rem  +  9.2592592593vw , 10.625rem )) {
    .menu {
      padding-top: calc(4.375rem + 6.25 * (100vw - 17.5rem) / 67.5);
    }
}

@supports (min-height: clamp( 3.125rem , 1.8287037037rem  +  7.4074074074vw , 8.125rem )) {
    .menu::before {
      min-height: clamp( 3.125rem , 1.8287037037rem  +  7.4074074074vw , 8.125rem );
    }
}

@supports not (min-height: clamp( 3.125rem , 1.8287037037rem  +  7.4074074074vw , 8.125rem )) {
    .menu::before {
      min-height: calc(3.125rem + 5 * (100vw - 17.5rem) / 67.5);
    }
}
}

@media (min-width: 1150.98px) and (min-width: 17.5em) and (max-width: 85em) {
@supports (margin-left: clamp( 0.0625rem , -2.0277777778rem  +  11.9444444444vw , 8.125rem )) {
    .menu__list {
      margin-left: clamp( 0.0625rem , -2.0277777778rem  +  11.9444444444vw , 8.125rem );
    }
}

@supports not (margin-left: clamp( 0.0625rem , -2.0277777778rem  +  11.9444444444vw , 8.125rem )) {
    .menu__list {
      margin-left: calc(0.0625rem + 8.0625 * (100vw - 17.5rem) / 67.5);
    }
}
}

@media (min-width: 1150.98px) and (max-width: 17.5em) {
  .menu__list {
    margin-left: 0.0625rem;
  }
}

@media (min-width: 71.875em) and (max-width: 83.125em) {
@supports ((-moz-column-gap: clamp( 0.9375rem , -13.0381944444rem  +  19.4444444444vw , 3.125rem )) or (column-gap: clamp( 0.9375rem , -13.0381944444rem  +  19.4444444444vw , 3.125rem ))) {
    .auth-header {
      -webkit-column-gap: clamp( 0.9375rem , -13.0381944444rem  +  19.4444444444vw , 3.125rem );
         -moz-column-gap: clamp( 0.9375rem , -13.0381944444rem  +  19.4444444444vw , 3.125rem );
              column-gap: clamp( 0.9375rem , -13.0381944444rem  +  19.4444444444vw , 3.125rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , -13.0381944444rem  +  19.4444444444vw , 3.125rem )) or (column-gap: clamp( 0.9375rem , -13.0381944444rem  +  19.4444444444vw , 3.125rem ))) {
    .auth-header {
      -webkit-column-gap: calc(0.9375rem + 2.1875 * (100vw - 71.875rem) / 11.25);
         -moz-column-gap: calc(0.9375rem + 2.1875 * (100vw - 71.875rem) / 11.25);
              column-gap: calc(0.9375rem + 2.1875 * (100vw - 71.875rem) / 11.25);
    }
}
}

@media (any-hover: hover) {
  .button:hover {
    color: #deded7;
    background-color: #796f4a;
  }

  .mainpage-box-text__image:hover::before {
    -webkit-transform: translate(30px, -30px);
        -ms-transform: translate(30px, -30px);
            transform: translate(30px, -30px);
  }

  .mainpage-box-text__image:hover::after {
    -webkit-transform: translate(-30px, 30px);
        -ms-transform: translate(-30px, 30px);
            transform: translate(-30px, 30px);
  }

  .mainpage-box-text__image:hover img {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }
}